/.git
/.idea
/build
/config/autoload/*.dist
/data/cache/.gitignore
/public/assets/css/global.css
/public/assets/js/global.js
/public/dist
/public/p
/public/index.html
/public/packages.json
/vendor
/.dockerignore
/.gitignore
/docker-compose.yml
/Dockerfile
/phpcs.xml
/phpstan.neon
.DS_Store
Thumb.db
