<?php
/**
 * @copyright 2018 Creative Cow Limited
 */
declare(strict_types=1);

use Zend\ConfigAggregator\ConfigAggregator;
use Zend\Expressive\Container;
use Zend\Expressive\Middleware\ErrorResponseGenerator;

return [
    ConfigAggregator::ENABLE_CACHE => false,
    'debug'                        => true,
    'dependencies'                 => [
        'invokables' => [],
        'factories'  => [
            ErrorResponseGenerator::class       => Container\WhoopsErrorResponseGeneratorFactory::class,
            'Zend\Expressive\Whoops'            => Container\WhoopsFactory::class,
            'Zend\Expressive\WhoopsPageHandler' => Container\WhoopsPageHandlerFactory::class,
        ],
    ],
    'router'                       => [
        'fastroute' => [
            'cache_enabled' => false,
        ],
    ],
    'whoops'                       => [
        'json_exceptions' => [
            'display'    => true,
            'show_trace' => true,
            'ajax_only'  => true,
        ],
    ],
];
